/* Styles for my portfolio */
p, div, a, span {
  font-family: Inconsolata;
}
p {
    margin: 0.5em 1em;
}
.id-card.area {
  display: inline-block;
  max-width: 100%;
  margin: 0 10%;
}
.id-card .wrapper {
    width: 30%;
}
.id-card .outer {
    filter: drop-shadow(-1px 6px 3px rgba(0, 0, 0, 0.5));
}
.id-card .inner {
  display: inline-block;
  width: 100%;
  text-align: center;
  height: auto;
  overflow: hidden;
  background: white;
clip-path: polygon(0% 100%, 5% 95%, 10% 100%, 15% 95%, 20% 100%, 25% 95%, 30% 100%, 35% 95%, 40% 100%, 45% 95%, 50% 100%, 55% 95%, 60% 100%, 65% 95%, 70% 100%, 75% 95%, 80% 100%, 85% 95%, 90% 100%, 95% 95%, 100% 100%, 100% 0%, 0% 0%);}
.id-card .logo img {
    max-width: 60%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.id-card .avatar {
    max-width: 50%;
    display: inline-block;

}
.id-card .avatar img {
    width: 100%;
    border-radius: 50%;
}
.id-card .name {
    font-size: xx-large;
    font-weight: 600;
}
.id-card .login {
    font-size: x-large;
    font-weight: 600;
}
.id-card p {
    font-size: large;
}
.id-card p:last-of-type {
    padding-bottom: 10%
}
